@import url(../css/pricing.css);
@import url(../css/import-cdn.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.html {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}